$font-family-monospace: monospace !default;
$font-family-code-inline: "Fira Mono", "Ricty", "Source Han Code JP", "Inconsolata", "Source Code Pro", $font-family-monospace !default;
$font-family-code-blockblock: $font-family-code-inline !default;
$font-family-terminal: $font-family-code-inline !default;

@mixin code-common {
	border: 1px solid #eeeef899;
	background: #f4f4f499;
}

%code-inline-block {
	@include code-common;
	font-family: $font-family-code-inline;
	display: inline-block;
	border-radius: 0.2em;
	padding: 0 0.2em;
}

code, kbd {
	@extend %code-inline-block;
}

kbd.keycombo {
	kbd:first-child, kbd + kbd {
		margin: 0 0.2em;
	}
}
kbd.keycap {
	padding: 0 0.2em;
	border: 1px solid #eeeef8;
}
kbd.keycombo-action-simul {
	border: 1px solid;
}

.uri {
	font-family: $font-family-monospace;
}

pre {
	overflow-x: auto;
	padding: 0.5rem;
	border: 1px solid #eeeef8;
	background: #f4f4f4ee;

	&.programlisting {
		white-space: normal;
		>code {
			white-space: pre;
		}
	}

	&.screen {
		white-space: normal;
		>samp {
			white-space: pre;
		}
	}
}


pre.screen.terminal {
	background: black;
	font-family: $font-family-terminal;
	color: #ccc;

	code, kbd, samp {
		// Clear default styles.
		display: inline;
		border: unset;
		padding: unset;
		background: unset;
		// Ignore font settings by sanitize.css.
		font-family: inherit;
		font-size: inherit;
	}
	kbd.keycap {
		border: 1px solid;
		padding: 0 0.2em;
	}
	kbd.keycombo-action-simul {
		border: 1px solid;
		padding: 0.1em;
	}
	.userinput {
		color: #f84;
		font-weight: bolder;
	}
}

pre.literallayout {
	white-space: pre;

	&.literallayout-class-normal {
		font-family: inherit;
	}
	&.literallayout-class-monospaced {
		font-family: $font-family-monospace;
	}
}
