$vertical-unit: 1.5rem !default;
// The class is defined by asciidoctor converter.
$permalink-class: permalink;
$permalink-head-class: permalink-head;
$permalink-tail-class: permalink-tail;
$block-title-color: brown;
